<nav class="flex column nav-menu" id="nav-menu">
    <div class="flex logo-container">
        <img src="/img/Po River small.webp" alt="" />
    </div>
    <div class="flex site-title-container">
        <a href="/">
            <h1 class="site-title">Po River</h1>
        </a>
    </div>
    <a href="/">
        <li>Home</li>
    </a>
    <a href="/products">
        <li>Products</li>
    </a>
    <a href="./articles">
        <li>Articles</li>
    </a>
    <a href="./contact">
        <li>Contact</li>
    </a>
</nav>