:root {
	--blue-accent: #1497c1;
	--brown-accent: #4b2212;
}
.shop {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}
.product-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 5px;
	background-color: white;
	border-radius: 3px;
	text-align: center;
	--height: 300px;
	height: var(--width);
	width: calc(0.8 * var(--height));
	overflow: hidden;
	border: solid 1px var(--blue-accent);
}
.product-card:hover {
	box-shadow: 0px 0px 20px 10px var(--blue-accent);
}
.product-card img {
	height: 300px;
	width: 300px;
}
dialog {
	display: flex; /* Hidden by default */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
	width: auto;
	height: 100vh;
	box-sizing: border-box;
	padding: 0px;
	border: 0px;
}
/* Modal Content/Box */
dialog .modal-container {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	padding: 20px;
	border-radius: 3px;
	margin: auto;
	box-sizing: border-box;
	max-width: 80vw;
}
.modal-body {
	padding: 5px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.modal-body-inner {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}
.modal-header {
	display: flex;
	margin-left: auto;
	padding: 5px;
	box-sizing: border-box;
}
.modal-close-btn,
#shop-filter-close {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: none;
	padding: 5px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	box-sizing: border-box;
}
.modal-close-btn:hover,
#shop-filter-close:hover {
	background-color: var(--brown-accent);
	color: white;
}
.single-product-description {
	padding: 5px;
	margin: 10px;
	box-sizing: border-box;
}
.single-product-theater {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	margin: 10px;
	padding: 5px;
	justify-content: center;
}
.single-product-theater img {
	width: 100px;
	height: 100px;
	border: solid 1px transparent;
}
.single-product-theater img:hover {
	border: solid 1px black;
}
.single-product-theater img:active {
	border: solid 1px grey;
}
#selected-product {
	height: 430px;
	width: 430px;
}
.shop-wrapper {
	display: flex;
	flex-direction: row;
	background-color: white;
}
.shop-filters {
	padding: 10px;
	margin: 0px;
	background-color: white;
	display: flex;
	flex-direction: column;
	z-index: 1;
	border-radius: 3px;
	width: auto;
	height: fit-content;
	border: solid 1px var(--blue-accent);
}
#shop-filter-close {
	margin-left: auto;
}
.shop-filters h3 {
	text-align: center;
}
.input-group {
	display: flex;
	flex-direction: row;
}
.filter-show {
	z-index: 2;
}
.filter-container-hide {
	display: none;
}
.filter-show button {
	background-color: white;
	border: solid 0px transparent;
	border: solid 1px var(--blue-accent);
}

@media screen and (min-width: 1024px) {
	#shop-filter-close {
		display: none;
	}
}
