:root {
	--blue-accent: #1497c1;
	--brown-accent: #4b2212;
}
@font-face {
	font-family: Roboto;
	src: url('./Roboto/Roboto-Black.ttf');
}
html {
	font-family: Roboto;
}
h2,
h3,
h4,
h5 {
	margin: 0px;
	color: var(--blue-accent);
}
a {
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
body {
	margin: 0px;
}
nav .site-title-container {
	display: flex;
	align-items: center;
	margin-right: auto;
}
nav .nav-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.nav-menu a li {
	padding: 5px;
	border: 3px solid transparent;
	color: white;
}
.nav-menu a li:hover {
	border-bottom: 3px solid var(--blue-accent);
	border-radius: 10px;
}
.logo-container {
	margin: 5px;
	border-radius: 50%;
	overflow: hidden;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border: solid 1px black;
	background-color: white;
}
.logo-container img {
	height: 50px;
}
.nav-menu .logo-container,
.nav-menu .site-title-container {
	display: none;
}
.site-title {
	color: white;
}
.hero {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 25vh;
	justify-content: center;
	align-items: center;
}
.hero:before {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	content: ' ';
	background-image: url('./img/pexels-jana-t-4231488.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	filter: contrast(70%);
}
.hero-text-container {
	background-color: transparent;
	text-align: center;
	margin: 25px;
}
.hero-text {
	color: white;
	font-weight: bolder;
	text-shadow: 0px 5px 4px black;
	font-size: 1.6rem;
	-webkit-text-stroke-color: var(--brown-accent);
	-webkit-text-stroke-width: 2px;
}
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 100px;
}
main:before {
	min-height: 100vh;
	background-color: #eee;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	content: ' ';
	position: absolute;
}
section {
	border-radius: 5px;
	background-color: #eee;
	position: relative;
	padding: 20px;
	margin: 50px;
}
main section {
	border: solid 1px var(--blue-accent);
}
nav,
.nav-menu {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: fixed;
	background-color: var(--brown-accent);
	bottom: 0;
}
.nav-menu {
	bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	width: 100%;
	height: 0px;
	transition: 0.5s;
	text-align: left;
}
.nav-menu li {
	padding: 10px;
}
.nav-menu li::before {
	content: '';
	display: block;
}
.nav-expand-btn {
	padding: 5px;
	background-color: transparent;
	outline: transparent;
	border: solid transparent 1px;
	border-radius: 50%;
	transition: 0.5s;
}
.nav-expand-btn img {
	filter: invert(100%);
}
.nav-expand-btn:hover {
	outline: transparent;
	background-color: var(--blue-accent);
	transition: 0.5s;
}
.show {
	height: 200px;
}

@media screen and (min-width: 411px) {
	.hero-text {
		font-size: 1.7rem;
	}
}
/* ipads */
@media screen and (min-width: 768px) {
	html {
		font-size: 1.2rem;
	}
	.site-title {
		font-size: 1.8rem;
	}
}
/* FIXES NEED TO BE MADE HERE */
@media screen and (min-width: 1024px) {
	main {
		padding-bottom: 0px;
	}
	#mobile-nav {
		display: none;
	}
	main {
		padding: auto;
	}
	.nav-menu {
		display: flex;
		flex-direction: row;
		bottom: unset;
		top: 0px;
		height: auto;
		margin: 0px;
		justify-content: unset;
		align-items: center;
		padding: 10px;
		list-style: none;
		box-sizing: border-box;
	}
	.site-title-container {
		margin-right: auto;
	}
	.site-title {
		font-size: 1rem;
		margin-right: auto;
	}
	.hero {
		margin-top: 50px;
	}
	.hero-text-container {
		max-width: 50vw;
	}
	.hero-text {
		font-size: 2rem;
	}
	.nav-menu .logo-container,
	.nav-menu .site-title-container {
		display: flex;
	}
	.nav-menu {
		z-index: 2;
	}
}
