<footer>
    <section class="flex column card" style="width: 100%; margin: 0px; border-radius: 0px;" id="footer-section">
        <div class="flex column rounded container" style="border-radius: 0px;">
            <div class="wood-u"></div>
            <!-- <div class="wood-dark2"></div> -->
            <div class="wood-b"></div>
            <div class="wood-dark"></div>
            <div class="wood-u"></div>
            <!-- <div class="wood-dark2"></div> -->
            <div class="wood-b"></div>
            <div class="wood-u"></div>
            <!-- <div class="wood-dark2"></div> -->
            <div class="wood-b"></div>
            <div class="wood-dark"></div>
            <div class="wood-u"></div>
            <!-- <div class="wood-dark2"></div> -->
            <div class="wood-b"></div>
        </div>
        <div class="rounded text-shadow section-child">
            <div>
                <h3 class="text-shadow">Find us around the web!</h3>
            </div>
            <div class="social-links">
                <a title="facebook profile link" href="https://www.facebook.com/ShawnMuzick/" target="blank">
                    <img src="/public/icons/iconmonstr-facebook-4.svg" alt="facebook profile link" class="facebook" />
                </a>
                <a title="instagram profile link" href="https://www.instagram.com/shawnmuzick/" target="blank">
                    <img src="/public/icons/iconmonstr-instagram-14.svg" alt="instagram profile link" />
                </a>
                <a title="twitter profile link" href="https://twitter.com/ShawnMuzick" target="blank">
                    <img src="/public/icons/iconmonstr-twitter-4.svg" alt="twitter profile link" />
                </a>
            </div>
        </div>
    </section>
</footer>