/* Contains CSS variables */
:root {
  --blue-accent: #3c90c1;
  --brown-accent: #4b2212;
  --height: 300px;
  --shadow: 0px 2px 5px 0px #888888;
  --bg-card: white;
  --round-corners: 0.5em;
  --text-shadow: 3px 3px black;
  --gradient-blue-white: linear-gradient(to top, var(--blue-accent), white 30%);
}
