body {
  overflow-x: hidden;
}
.shop {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.product-card {
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
  padding: 5px;
  background-color: var(--bg-card);
  border-radius: var(--round-corners);
  text-align: center;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(to top, white, var(--blue-accent) 20%, white 40%);
  box-shadow: var(--shadow);
}
.product-card:hover,
.single-product-theater img:hover {
  box-shadow: 0px 0px 20px 10px var(--blue-accent);
}
.product-card img {
  height: 300px;
  width: 300px;
}
dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  opacity: 0;
  transition: opacity 0.5s;
}
dialog[open] {
  opacity: 1;
}
dialog .modal-container {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  box-sizing: border-box;
  max-width: 80vw;
}
.modal-body {
  padding: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.modal-body-inner {
  flex-direction: row;
  box-sizing: border-box;
}
.modal-header {
  margin-left: auto;
  padding: 5px;
  box-sizing: border-box;
}
.modal-close-btn,
#shop-filter-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  box-sizing: border-box;
}
.modal-close-btn:hover,
#shop-filter-close:hover {
  background-color: var(--brown-accent);
  color: white;
}
.single-product-description {
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}
.single-product-theater {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  justify-content: center;
}
.single-product-theater img {
  width: 100px;
  height: 100px;
  border: solid 1px transparent;
}
.single-product-theater img:hover {
  z-index: 1;
}
.single-product-theater img:active {
  border: solid 1px grey;
}
#selected-product {
  height: 430px;
  width: 430px;
}
.shop-wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.shop-filters {
  padding: 10px;
  margin: 0px;
  background-color: white;
  z-index: 1;
  border-radius: 3px;
  width: 200px;
  height: fit-content;
  border: solid 1px var(--blue-accent);
  position: absolute;
  transition: 0.3s;
  overflow-x: hidden;
}
.shop-filters .input-group {
  transition: 0.3s;
}
#shop-filter-close {
  margin-left: auto;
}
.shop-filters h3 {
  text-align: center;
}
.input-group {
  display: flex;
  flex-direction: row;
}
.filter-show {
  z-index: 2;
  max-height: 50px;
  position: absolute;
}
.filter-container-hide {
  width: 0px;
  transition: 0.3s;
  padding: 0px;
  border: 0px;
}
.filter-show button {
  background-color: white;
  border: solid 0px transparent;
  border: solid 1px var(--blue-accent);
  border-radius: 3px;
}
.filter-show button:focus {
  border: solid 1px var(--blue-accent);
  outline: solid 1px var(--blue-accent);
}
.product-card p {
  height: 50px;
}
.wave {
  position: fixed;
  background: transparent;
  height: 100vh;
  width: 100vh;
  outline: 0px;
  border: 0px;
  /* overflow: hidden; */
  z-index: 7;
}
.wave::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, var(--blue-accent), #0030cf);
  height: 200%;
  width: 200%;
  bottom: -65%;
  left: -50%;
  border-radius: 40%;
  animation: wave2 4s ease-out infinite;
}
.wave:after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, var(--blue-accent), #0030cf);
  height: 200%;
  width: 200%;
  bottom: -70%;
  left: -50%;
  border-radius: 45%;
  animation: wave 4s ease-out infinite;
  z-index: 7;
}
@keyframes wave {
  0% {
    transform: translateY(80%) rotate(180deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(80%) rotate(180deg);
  }
}
@keyframes wave2 {
  0% {
    transform: translateY(70%) rotate(200deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(70%) rotate(200deg);
  }
}
@media screen and (max-width: 280px) {
  .product-card img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 280px) {
  .modal-body-inner {
    flex-direction: column;
  }
  #selected-product {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  dialog .modal-container {
    padding: 5px;
    max-width: 100%;
    overflow: scroll;
  }
  .modal-body {
    margin: 0px;
  }
  .single-product-description {
    margin: 0px;
  }
  .single-product-features {
    padding-left: 10px;
  }
  .single-product-theater {
    margin: 0px;
  }
  .single-product-theater img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 360px) {
  #selected-product {
    width: 200px;
    height: 200px;
  }
  .single-product-theater img {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 768px) {
  .product-card {
    width: calc(0.8 * var(--height));
  }
  .modal-body-inner {
    flex-direction: row;
  }
  #selected-product {
    width: 420px;
    height: 430px;
  }
  .modal-body {
    margin: 0px;
  }
  .single-product-theater {
    margin: 10px;
  }
  .single-product-theater img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .shop {
    justify-content: flex-start;
  }
  .product-card {
    margin: 10px;
  }
  #shop-filter-close {
    display: none;
  }
  .filter-show {
    display: none;
  }
  .shop-filters {
    display: flex;
  }
  #filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: solid 1px var(--blue-accent);
    padding: 5px;
    margin-top: 20px;
    max-width: 170px;
  }
  .wave {
    height: 100vw;
    width: 100vw;
  }
}
